{% extends "layout.html" %}
{% block content %}
<h1>Post by {{ user.user_name }} ({{ posts.total }})</h1>
{% for post in posts.items %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename="profile_pic/" + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <span class="mr-2">
            {% if post.user_id %}
                {{ post.author.user_name if post.user_id else "Default author" }}
            {% endif %}
      </span>
      <small class="text-muted">
            {% if post.date %}
                {{ post.date.strftime('%d-%m-%Y') }}
            {% else %}
                April 69, 6969
            {% endif %}
      </small>
    </div>
    <h2><a class="article-title" href="{{ url_for('posts.view_post', post_id=post.id) }}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content[:100] }}...</p>
  </div>
</article>
{% endfor %}
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a href="{{ url_for("users.user_posts", usr_name=user.user_name, page=page_num) }}" class="btn btn-info btn-sm mb-4">{{ page_num }}</a>
      {% else %}
        <a href="{{ url_for("users.user_posts", usr_name=user.user_name, page=page_num) }}" class="btn btn-outline-info btn-sm mb-4">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}